version: 2.1

orbs:
  keeper: gravitee-io/keeper@0.7.0
  slack: circleci/slack@6.1.1

parameters:
  trigger:
    type: enum
    default: none
    enum:
      - slack_notification
      - none
  job_name:
    type: string
    default: ""
  job_url:
    type: string
    default: ""
  job_status:
    type: enum
    default: fail
    enum:
      - pass
      - fail

jobs:
  notify-slack:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - keeper/env-export:
          secret-url: keeper://ZOz4db245GNaETVwmPBk8w/field/password
          var-name: SLACK_ACCESS_TOKEN
      - run:
          name: Convert parameter to environment variable
          command: |
            # Export the parameter value to BASH_ENV
            echo 'JOB="<< pipeline.parameters.job_name >>"' >> $BASH_ENV
            echo 'JOB_URL="<< pipeline.parameters.job_url >>"' >> $BASH_ENV
            
            if [[ "<< pipeline.parameters.job_status >>" == "pass" ]]; then
              echo 'STATUS=succeeded' >> $BASH_ENV
              echo 'STATUS_ICON=white_check_mark' >> $BASH_ENV
            else
              echo 'STATUS=failed' >> $BASH_ENV
              echo 'STATUS_ICON=red_circle' >> $BASH_ENV
            fi
      - slack/notify:
          channel: C0A2R4W3MLM
          event: always
          custom: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "*Job ${STATUS}*. :${STATUS_ICON}:\n*Project*: :terraform: APIM Terraform provider\n*Job*: ${JOB}\n"
                  }
                },
                {
                  "type": "divider"
                },
                {
                  "type": "actions",
                  "elements": [
                    {
                      "type": "button",
                      "text": {
                        "type": "plain_text",
                        "text": "GitHub job",
                        "emoji": true
                      },
                      "value": "click_me_123",
                      "url": "${JOB_URL}"
                    }
                  ]
                }
              ]
            }

workflows:
  send-notification:
    when:
      equal:
        - << pipeline.parameters.trigger >>
        - slack_notification
    jobs:
      - notify-slack:
          name: Send slack notification
          context: cicd-orchestrator
