---
page_title: "Machine-to-Machine Application"
subcategory: "Application"
---

# Machine-to-machine application

The following example creates an OAuth "backend to backend" application that uses a certificate for authentication.

```terraform
{{ .ApplicationM2M.Content }}
```