---
page_title: "Simple page Application"
subcategory: "Application"
---

# Single page application

The following example creates a Single Page Application with OAuth.

```terraform
{{ .ApplicationSPA.Content }}
```