---
page_title: "Shared API resource configuration"
subcategory: "Tutorials"
---

# Share API resource configuration between APIs

~> An API resource is different from a Terraform resource. It is used by Gravitee policies to access data.

In this example, we show an API using an "In memory users resource" and share its configuration so all users are the same across APIs.

## Provider configuration and resource configuration file

```terraform
{{ .ResourceTutorialMain.Content }}
```

This is the contents of the resource configuration file `basic-auth-config.json`. It creates two users that can be used by the basic authentication policy.

```JSON
{{ .ResourceTutorialConfig.Content }}
```

## Usage in APIs

The following two APIs use the same API resource configuration to perform basic authentication.

### API 1

```terraform
{{ .ResourceTutorialAPI1.Content }}
```

### API 2

```terraform
{{ .ResourceTutorialAPI2.Content }}
```


