---
page_title: "Shared API resource configuration"
subcategory: "Tutorials"
---

# Share API resource configuration between APIs

~> API resource is different from Terraform resource. It is used by Gravitee policies to use access data.

In this example we show that APIs using an *"In memory users resource"* and share its configuration so all users are the same across APIs.

## Provider configuration and resource configuration file

```terraform
{{ .ResourceTutorialMain.Content }}
```

This is the content of the resource configuration file `basic-auth-config.json`, it creates two users that can be used by the basic authentication policy.

```JSON
{{ .ResourceTutorialConfig.Content }}
```

## Usage in APIs

Below, two APIs using the same API resource configuration to perform basic authentication.

### API 1

```terraform
{{ .ResourceTutorialAPI1.Content }}
```

### API 2

```terraform
{{ .ResourceTutorialAPI2.Content }}
```


