---
page_title: "Shared Policy Group"
subcategory: ""
---

# Simple Shared Policy Group

This example shows how to create a shared policy group with a rate limiting policy that allows 10 requests per minute.

```HCL
{{ .SharedPolicyGroup.Content }}
```
