---
page_title: "Rate limiting example"
subcategory: "Shared Policy Group"
---

# Create a Shared Policy Group for rate limiting

The following example configures the Shared Policy Group resource to use the Gravitee
[Rate Limit policy](https://documentation.gravitee.io/apim/create-and-configure-apis/apply-policies/policy-reference/rate-limit).
It applies rate limiting on the Request phase to limit traffic to 10 requests per minute.

```terraform
{{ .SPGRateLimit.Content }}
```