---
page_title: "Subscription to an API with a JWT Plan"
subcategory: ""
---

# Subscription to an API with a JWT Plan

This example demonstrates how to create an API with a JWT plan, set up an application, and configure a subscription that grants the application access to the API.

```HCL
{{ .Subscription.Content }}
```
