---
page_title: "HTTP Proxy with CORS and response templates"
subcategory: "V4 API"
---

# Create a V4 HTTP proxy API with CORS support and custom response templates

The following example configures the V4 HTTP proxy API with CORS.
If the pre-flight phase fails, it will return a 412 status code whatever all content type with bespoke body.

```terraform
{{ .V4ProxyResponseTemplate.Content }}
```