name: Terraform Provider Tests

on:
  push:
    branches-ignore:
      - master
  schedule:
    - cron: 00 05 * * 1-5

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  pre-test-validation:
    name: Pre-test validation
    permissions:
      contents: "read"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        env:
          - name: Dev
            url: ${{vars.TEST_SERVER_URL_MASTER}}
          - name: Stable
            url: ${{vars.TEST_SERVER_URL_STABLE}}
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup builder
        uses: ./.github/actions/setup-go
      - name: Setup terraform
        uses: ./.github/actions/setup-terraform
        with:
          terraform_version: "latest"
      - name: Run pre-tests using ${{ matrix.env.name }} - user ${{ vars.APIM_ADMIN_USERNAME }}
        env:
          APIM_SERVER_URL: ${{ matrix.env.url }}
          APIM_USERNAME: ${{ vars.APIM_ADMIN_USERNAME }}
          APIM_PASSWORD: ${{ secrets.APIM_ADMIN_PASSWORD }}
        run: make pre-test
      - name: Run pre-tests using ${{ matrix.env.name }} - user ${{ vars.APIM_API1_USERNAME }}
        env:
          APIM_SERVER_URL: ${{ matrix.env.url }}
          APIM_USERNAME: ${{ vars.APIM_API1_USERNAME }}
          APIM_PASSWORD: ${{ secrets.APIM_API1_PASSWORD }}
        run: make pre-test
      - name: Send slack notification on failure
        if: failure() && github.event.schedule != ''
        uses: ./.github/actions/send-slack-notification
        with:
          job_name: ${{ github.job }} - ${{ matrix.env.name }}
          job_status: ${{ job.status }}
          circleci_token: ${{ secrets.CIRCLECI_TOKEN }}
          trigger: test_results_notification
  examples:
    name: Run Terraform examples (Env ${{ matrix.env.name }} + Terraform/OpenTofu latest)
    runs-on: ubuntu-latest
    needs:
      - pre-test-validation
    permissions:
      contents: "read"
    strategy:
      matrix:
       env:
          - name: Dev
            url: ${{vars.TEST_SERVER_URL_MASTER}}
          - name: Stable
            url: ${{vars.TEST_SERVER_URL_STABLE}}
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup go
        uses: ./.github/actions/setup-go
      - name: Setup terraform
        uses: ./.github/actions/setup-terraform
        with:
          terraform_version: "latest"
      - name: Setup OpenTofu
        uses: ./.github/actions/setup-opentofu
        with:
          tofu_version: "latest"
      - name: Build provider
        shell: bash
        run: go build
      - name: Run examples using ${{ matrix.env.url }}
        env:
          APIM_SERVER_URL: ${{ matrix.env.url }}
          APIM_USERNAME: "${{ vars.APIM_ADMIN_USERNAME }}"
          APIM_PASSWORD: "${{ secrets.APIM_ADMIN_PASSWORD }}"
        run: make examples-tests
      - name: Send slack notification
        if: (failure() || success()) && github.event.schedule != ''
        uses: ./.github/actions/send-slack-notification
        with:
          job_name: ${{ github.job }} - Env ${{ matrix.env.name }} + Terraform ${{ matrix.terraform-version }})
          job_status: ${{ job.status }}
          circleci_token: ${{ secrets.CIRCLECI_TOKEN }}
          trigger: test_results_notification

  acceptance:
    name: Acceptance Tests (Env ${{ matrix.env.name }} + Terraform ${{ matrix.terraform-version }})
    runs-on: ubuntu-latest
    needs:
      - pre-test-validation
    permissions:
      contents: "read"
    strategy:
      fail-fast: false
      matrix:
        terraform-version:
          - "1.10.*"
          - "1.11.*"
          - "1.12.*"
          - "1.13.*"
          - "1.14.*"
        env:
          - name: Dev
            url: ${{vars.TEST_SERVER_URL_MASTER}}
          - name: Stable
            url: ${{vars.TEST_SERVER_URL_STABLE}}
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup go
        uses: ./.github/actions/setup-go
      - name: Setup terraform
        uses: ./.github/actions/setup-terraform
        with:
          terraform_version: ${{ matrix.terraform-version }}
      - name: Run acceptance tests using ${{ matrix.env.url }}
        env:
          APIM_SERVER_URL: ${{ matrix.env.url }}
          APIM_USERNAME: ${{ vars.APIM_ADMIN_USERNAME }}
          APIM_PASSWORD: ${{ secrets.APIM_ADMIN_PASSWORD }}
        run: make acceptance-tests
      - name: Send slack notification
        if: (failure() || success()) && github.event.schedule != ''
        uses: ./.github/actions/send-slack-notification
        with:
          job_name: ${{ github.job }} - Env ${{ matrix.env.name }} + Terraform ${{ matrix.terraform-version }}
          job_status: ${{ job.status }}
          circleci_token: ${{ secrets.CIRCLECI_TOKEN }}
          trigger: test_results_notification
  unit:
    name: Unit tests
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup go
        uses: ./.github/actions/setup-go
      - name: Run unit tests
        run: make unit-tests
