name: Terraform Provider Tests

on:
  push:
    branches-ignore:
      - master
  schedule:
    - cron: 00 05 * * 1-5

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  verify-oas:
    name: Verify OAS schema matches APIM main branch
    runs-on: ubuntu-latest
    continue-on-error: true
    permissions:
      contents: "read"
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Verify OAS schema matches upstream
        uses: ./.github/actions/verify-oas-upstream
      - name: Send slack notification
        if: (failure() || success()) && github.event.schedule != ''
        uses: ./.github/actions/send-slack-notification
        with:
          job_name: ${{ github.job }}
          job_status: ${{ job.status }}
          circleci_token: ${{ secrets.CIRCLECI_TOKEN }}
          trigger: test_results_notification
  examples:
    name: Run Terraform examples (Env ${{ matrix.apim.image_tag }} + Terraform/OpenTofu latest)
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
    strategy:
      matrix:
        apim:
          - image_tag: master-latest
            chart_version: 4.11.*
          - image_tag: 4.10.x-latest
            chart_version: 4.10.*
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Create test cluster
        env:
          APIM_MINIMAL: true
          APIM_IMAGE_TAG: ${{ matrix.apim.image_tag }}
          APIM_CHART_VERSION: ${{ matrix.apim.chart_version }}
        run: make start-cluster
      - name: Setup go
        uses: ./.github/actions/setup-go
      - name: Setup terraform
        uses: ./.github/actions/setup-terraform
        with:
          terraform_version: "latest"
      - name: Setup OpenTofu
        uses: ./.github/actions/setup-opentofu
        with:
          tofu_version: "latest"
      - name: Build provider
        shell: bash
        run: go build
      - name: Run pre-tests with user admin
        env:
          APIM_SERVER_URL: http://localhost:30083/automation
          APIM_USERNAME: admin
          APIM_PASSWORD: admin
        run: make pre-test
      - name: Run pre-tests with user api1
        env:
          APIM_SERVER_URL: http://localhost:30083/automation
          APIM_USERNAME: api1
          APIM_PASSWORD: api1
        run:
          make pre-test
      - name: Run examples using ${{ matrix.apim.image_tag }}
        env:
          APIM_SERVER_URL: http://localhost:30083/automation
          APIM_USERNAME: admin
          APIM_PASSWORD: admin
        run: make examples-tests
      - name: Send Slack notification
        if: (failure() || success()) && github.event.schedule != ''
        uses: ./.github/actions/send-slack-notification
        with:
          job_name: ${{ github.job }} - Version ${{ matrix.apim.image_tag }} - TF/Tofu latest
          job_status: ${{ job.status }}
          circleci_token: ${{ secrets.CIRCLECI_TOKEN }}
          trigger: test_results_notification

  acceptance:
    name: Acceptance Tests - Version ${{ matrix.apim.image_tag }} - Terraform ${{ matrix.terraform-version }}
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
    strategy:
      fail-fast: false
      matrix:
        terraform-version:
          - "1.9.*"
          - "1.14.*"
        apim:
          - image_tag: master-latest
            chart_version: 4.11.*
          - image_tag: 4.10.x-latest
            chart_version: 4.10.*
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Create test cluster
        env:
          APIM_MINIMAL: true
          APIM_IMAGE_TAG: ${{ matrix.apim.image_tag }}
          APIM_CHART_VERSION: ${{ matrix.apim.chart_version }}
        run: make start-cluster
      - name: Setup go
        uses: ./.github/actions/setup-go
      - name: Setup terraform
        uses: ./.github/actions/setup-terraform
        with:
          terraform_version: ${{ matrix.terraform-version }}
      - name: Run pre-tests with user admin
        env:
          APIM_SERVER_URL: http://localhost:30083/automation
          APIM_USERNAME: admin
          APIM_PASSWORD: admin
        run: make pre-test
      - name: Run pre-tests with user api1
        env:
          APIM_SERVER_URL: http://localhost:30083/automation
          APIM_USERNAME: api1
          APIM_PASSWORD: api1
        run:
          make pre-test
      - name: Run acceptance tests using ${{ matrix.env.url }}
        env:
          APIM_SERVER_URL: ${{ matrix.env.url }}
          APIM_USERNAME: admin
          APIM_PASSWORD: admin
        run: make acceptance-tests
      - name: Send Slack notification
        if: (failure() || success()) && github.event.schedule != ''
        uses: ./.github/actions/send-slack-notification
        with:
          job_name: ${{ github.job }} - Version ${{ matrix.apim.image_tag }} - Terraform ${{ matrix.terraform-version }}
          job_status: ${{ job.status }}
          circleci_token: ${{ secrets.CIRCLECI_TOKEN }}
          trigger: test_results_notification

  unit:
    name: Unit tests
    runs-on: ubuntu-latest
    continue-on-error: true
    permissions:
      contents: "read"
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup go
        uses: ./.github/actions/setup-go
      - name: Run unit tests
        run: make unit-tests
