name: Terraform Provider Tests

on:
  push:
    branches-ignore:
      - master
  schedule:
    - cron: 00 05 * * 1-5

env:
  APIM_SERVER_URL: ${{ vars.TEST_SERVER_URL_MASTER }}

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: false

jobs:
  pre-test-validation:
    name: Pre-test validation
    permissions:
      contents: "read"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup builder
        uses: ./.github/actions/setup-go
      - name: Setup terraform
        uses: ./.github/actions/setup-terraform
        with:
          terraform_version: "1.13.*"
      - name: Run pre-tests using ${{ env.APIM_SERVER_URL }} - user ${{ vars.APIM_ADMIN_USERNAME }}
        env:
          APIM_USERNAME: ${{ vars.APIM_ADMIN_USERNAME }}
          APIM_PASSWORD: ${{ secrets.APIM_ADMIN_PASSWORD }}
        run: make pre-test
      - name: Run pre-tests using ${{ env.APIM_SERVER_URL }} - user ${{ vars.APIM_API1_USERNAME }}
        env:
          APIM_USERNAME: ${{ vars.APIM_API1_USERNAME }}
          APIM_PASSWORD: ${{ secrets.APIM_API1_PASSWORD }}
        run: make pre-test
      - name: Send slack notification on failure
        if: failure() && github.event.schedule != ''
        uses: ./.github/actions/send-slack-notification
        with:
          job_name: ${{ github.job }}
          job_status: ${{ job.status }}
          circleci_token: ${{ secrets.CIRCLECI_TOKEN }}

  examples:
    name: Run Terraform examples
    runs-on: ubuntu-latest
    needs:
      - pre-test-validation
    permissions:
      contents: "read"
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup go
        uses: ./.github/actions/setup-go
      - name: Setup terraform
        uses: ./.github/actions/setup-terraform
        with:
          terraform_version: "1.13.*"
      - name: Run example using ${{ env.APIM_SERVER_URL }}
        env:
          APIM_USERNAME: "${{ vars.APIM_ADMIN_USERNAME }}"
          APIM_PASSWORD: "${{ secrets.APIM_ADMIN_PASSWORD }}"
        run: make examples-tests
      - name: Send slack notification
        if: (failure() || success()) && github.event.schedule != ''
        uses: ./.github/actions/send-slack-notification
        with:
          job_name: ${{ github.job }}
          job_status: ${{ job.status }}
          circleci_token: ${{ secrets.CIRCLECI_TOKEN }}

  acceptance:
    name: Acceptance Tests (Terraform ${{ matrix.terraform-version }})
    runs-on: ubuntu-latest
    needs:
      - pre-test-validation
    permissions:
      contents: "read"
    strategy:
      fail-fast: false
      matrix:
        terraform-version:
          - "1.10.*"
          - "1.11.*"
          - "1.12.*"
          - "1.13.*"
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup go
        uses: ./.github/actions/setup-go
      - name: Setup terraform
        uses: ./.github/actions/setup-terraform
        with:
          terraform_version: ${{ matrix.terraform-version }}
      - name: Run acceptance tests using ${{ env.APIM_SERVER_URL }}
        env:
          APIM_USERNAME: ${{ vars.APIM_ADMIN_USERNAME }}
          APIM_PASSWORD: ${{ secrets.APIM_ADMIN_PASSWORD }}
        run: make acceptance-tests
      - name: Send slack notification
        if: (failure() || success()) && github.event.schedule != ''
        uses: ./.github/actions/send-slack-notification
        with:
          job_name: ${{ github.job }} - Terraform ${{ matrix.terraform-version }}
          job_status: ${{ job.status }}
          circleci_token: ${{ secrets.CIRCLECI_TOKEN }}

  unit:
    name: Unit tests
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup go
        uses: ./.github/actions/setup-go
      - name: Run unit tests
        run: make unit-tests
